<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule images/(.*)$ http://localhost/git/WP-Mailto-Links/src/public/images/$1
RewriteRule js/(.*)$ http://localhost/git/WP-Mailto-Links/src/public/js/$1
RewriteRule css/(.*)$ http://localhost/git/WP-Mailto-Links/src/public/css/$1
RewriteRule data/(.*)$ http://localhost/git/WP-Mailto-Links/src/public/data/$1
</IfModule>
