<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule images/(.*)$ http://localhost/git/WP-Mailto-Links/src/images/$1
RewriteRule js/(.*)$ http://localhost/git/WP-Mailto-Links/src/js/$1
RewriteRule css/(.*)$ http://localhost/git/WP-Mailto-Links/src/css/$1
RewriteRule data/(.*)$ http://localhost/git/WP-Mailto-Links/src/data/$1
</IfModule>
