<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule images/(.*)$ http://localhost/wpdev/wp-plugins/wpml/WP-Mailto-Links/wp-mailto-links/public/images/$1
RewriteRule js/(.*)$ http://localhost/wpdev/wp-plugins/wpml/WP-Mailto-Links/wp-mailto-links/public/js/$1
RewriteRule css/(.*)$ http://localhost/wpdev/wp-plugins/wpml/WP-Mailto-Links/wp-mailto-links/public/css/$1
RewriteRule data/(.*)$ http://localhost/wpdev/wp-plugins/wpml/WP-Mailto-Links/wp-mailto-links/public/data/$1
</IfModule>
